@font-face {
    font-family: Poppins;
    src: url('/Poppins-SemiBold.ttf');
}

:root {
    --gradient-orange: linear-gradient(to right, rgba(210, 105, 30, 1), rgba(220, 20, 60, 1)); 
    --gradient-orange-hover: linear-gradient(to right, rgba(210, 105, 30, 0.8), rgba(220, 20, 60, 0.8)); 
    --gradient-blue: linear-gradient(to right, rgba(58, 58, 153, 1), rgba(2, 178, 236, 1));
    --gradient-blue-hover: linear-gradient(to right, rgba(58, 58, 153, 0.8), rgba(2, 178, 236, 0.8));
    --gradient-box: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Poppins;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.head {
    background:var(--gradient-orange);
    font-size: 56px;
    color: white;
}

.content, .head {
    width: 100%;
}

header {
    margin: 32px auto;
    width: fit-content;
}

li {
    list-style: none;
}

.content-list {
    margin: auto;
    padding: 32px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-auto-rows: min-content;
    gap: 32px ;
    justify-content: center;
}

button {
    display: block;
    width: fit-content;
    margin: 16px auto;
    padding: 8px 20px;
    border: none;
    background: var(--gradient-blue);
    font-family: Poppins;
    font-size: 18px;
    color: white;
    border-radius: 8px;    
}

button:hover {
    background: var(--gradient-blue-hover);
}

.content-list > li {
    width: 105%;
    padding: 4px 0px 12px 8px;
    padding-right: 0;
    background:var(--gradient-box);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 12px solid #c75300 ;
}

/* Normally Hidden Info - styles for elements that will appear only when certain buttons are clicked */

.displaybox {
    position: fixed;
    top: 10%;
    left: 30%;
    margin: auto;
    padding: 16px;

    width: 30%;
    min-width: 300px;
    overflow: auto;

    display: none;
    flex-direction: column;

    background: var(--gradient-orange);
    color: white;
    border-radius: 12px;
}

.displaybox > header {
    font-size: 24px;
}

.inputs > input, input:focus {
    margin: 12px;
    font:inherit;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.readStatus {
    margin: 12px;
    display: flex;
    gap: 8px;
}

.readButton {
    width: 44px;
    height: 24px;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid;
    display: flex;
    justify-content: start;
    cursor: pointer;
}

.circle {
    align-self: flex-end;
    width: 18px;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    clip-path: circle();
    background-color: #000;
}

.inputs {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0; /* Covers entire screen */
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent */
    backdrop-filter: blur(5px); /* Blurs the background */
  }


  .card {
    width: 100%;
    padding: 0px 24px 16px 4px;
    display: flex;
    flex-direction: column;
  } 

  .card > ul {
    display:  flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .btn-state {
    display: flex;
  }

  .card > header {
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 24px;
  }

button[data-button='upd'], button[data-button='rmv'] {
    font-size: 12px;
}

button[data-button='rmv'] {
    background: var(--gradient-orange);
}

button[data-button='rmv']:hover {
    background: var(--gradient-orange-hover);
}


#basecard {
    display: none;
}
